{% extends 'home.html' %}

{% block conteudo %}
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <br>

    <form method="post" action="{% url 'company-create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="row">
            <div class="col">
                <button type="submit">Salvar</button>
                <a href="{% url 'company-view' %}">Voltar</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="logo">Logo</label>
                <input type="file" name="logo" id="logo">
            </div>
            <br>
            <div class="col">
                <label for="cnpj">CNPJ</label>
                <input type="text" name="cnpj" id="logo" required>
            </div>
            <br>
            <div class="col">
                <label for="razao_social">Razão Social</label>
                <input type="text" name="razao_social" id="razao_social" required>
            </div>
            <br>
            <div class="col">
                <label for="porte">Porte</label>
                <input type="text" name="porte" id="porte" required>
            </div>
            <br>
            <div class="col">
                <label for="nome_fantasia">Nome Fantasia</label>
                <input type="text" name="nome_fantasia" id="nome_fantasia" required>
            </div>
            <br>
            <div class="col">
                <label for="uf">UF</label>
                <input type="text" name="uf" id="uf" required>
            </div>
            <br>
            <div class="col">
                <label for="municipio">Município</label>
                <input type="text" name="municipio" id="municipio" required>
            </div>
            <br>
            <div class="col">
                <label for="logradouro">Logradouro</label>
                <input type="text" name="logradouro" id="logradouro" required>
            </div>
            <br>
            <div class="col">
                <label for="numero">Número</label>
                <input type="text" name="numero" id="numero" required>
            </div>
            <br>
            <div class="col">
                <label for="cep">Cep</label>
                <input type="text" name="cep" id="cep" required>
            </div>
            <br>
            <div class="col">
                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" id="bairro" required>
            </div>
            <br>
            <div class="col">
                <label for="complemento">Complemento</label>
                <input type="text" name="complemento">
            </div>
            <br>
            <div class="col">
                <label for="celular">Celular</label>
                <input type="text" name="celular">
            </div>
            <br>
            <div class="col">
                <label for="telefone">Telefone</label>
                <input type="text" name="telefone">
            </div>
            <br>
            <div class="col">
                <label for="email">E-mail</label>
                <input type="text" name="email">
            </div>
        </div>
    </form>
{% endblock %}