{% extends 'home.html' %}

{% load widget_tweaks %} 

{% block conteudo %}
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <button type="submit">Salvar</button>
                <a href="{% url 'company-view' %}">Voltar</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                {% render_field form.logo name="logo" %}
            </div>
            <br>
            <div class="col">
                <label for="cnpj">CNPJ</label>
                <input type="text" name="cnpj" value="{{ form.cnpj.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="razao_social">Razão Social</label>
                <input type="text" name="razao_social" value="{{ form.razao_social.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="porte">Porte</label>
                <input type="text" name="porte" value="{{ form.porte.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="nome_fantasia">Nome Fantasia</label>
                <input type="text" name="nome_fantasia" value="{{ form.nome_fantasia.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="uf">UF</label>
                <input type="text" name="uf" value="{{ form.uf.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="municipio">Município</label>
                <input type="text" name="municipio" value="{{ form.municipio.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="logradouro">Logradouro</label>
                <input type="text" name="logradouro" value="{{ form.logradouro.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="numero">Número</label>
                <input type="text" name="numero" value="{{ form.numero.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="cep">Cep</label>
                <input type="text" name="cep" value="{{ form.cep.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" value="{{ form.bairro.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="complemento">Complemento</label>
                <input type="text" name="complemento" value="{{ form.complemento.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="celular">Celular</label>
                <input type="text" name="celular" value="{{ form.celular.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="telefone">Telefone</label>
                <input type="text" name="telefone" value="{{ form.telefone.value|default:'' }}">
            </div>
            <br>
            <div class="col">
                <label for="email">E-mail</label>
                <input type="text" name="email" value="{{ form.email.value|default:'' }}">
            </div>
        </div>
    </form>
{% endblock %}