{% extends 'home.html' %}

{% load static %}

{% block conteudo %}
    <br>
    <div class="row">
        <div class="col">
            {% if not company_id %}
                <a href="{% url 'company-create' %}">Cadastrar</a>
            {% endif %}

            {% if company_id %}
                <a href="{% url 'company-update' company_id %}">Editar</a>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            {% if object.logo %}
                <img src="{{ object.logo.url  }}" alt="Image" style="width: 100px;">
            {% else %}
                <img src="{% static 'img/brasao_default.jpg' %}" alt="Logo" style="width: 100px;">
            {% endif %}
        </div>
        <br>
        <div class="col">
            <label for="cnpj">CNPJ</label>
            <input type="text" name="cnpj" value="{{ object.cnpj|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="razao_social">Razão Social</label>
            <input type="text" name="razao_social" value="{{ object.razao_social|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="porte">Porte</label>
            <input type="text" name="porte" value="{{ object.porte|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="nome_fantasia">Nome Fantasia</label>
            <input type="text" name="nome_fantasia" value="{{ object.nome_fantasia|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="uf">UF</label>
            <input type="text" name="uf" value="{{ object.uf|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="municipio">Município</label>
            <input type="text" name="municipio" value="{{ object.municipio|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="logradouro">Logradouro</label>
            <input type="text" name="logradouro" value="{{ object.logradouro|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="numero">Número</label>
            <input type="text" name="numero" value="{{ object.numero|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="cep">Cep</label>
            <input type="text" name="cep" value="{{ object.cep|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="bairro">Bairro</label>
            <input type="text" name="bairro" value="{{ object.bairro|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="complemento">Complemento</label>
            <input type="text" name="complemento" value="{{ object.complemento|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="celular">Celular</label>
            <input type="text" name="celular" value="{{ object.celular|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" value="{{ object.telefone|default:'' }}" readonly>
        </div>
        <br>
        <div class="col">
            <label for="email">E-mail</label>
            <input type="text" name="email" value="{{ object.email|default:'' }}" readonly>
        </div>
    </div>
{% endblock %}