{% extends 'home.html' %}

{% block titulo %}
    <title>Login</title>
{% endblock %}

{% block conteudo %}
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}


    <h4>Fazer Login</h4>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="row">
                    <button type="submit">Login</button>
                    <a href="{% url 'home' %}">Voltar</a>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="username">Usuário</label>
                        <input type="text" name="username" id="username" required>
                    </div>
                </div>
                <br>
                <div class="col">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" required>
                </div>
            </form>
        </div>
    </div>
{% endblock %}