{% extends 'home.html' %}

{% block titulo %}
    <title>Cadastrar Usuário</title>
{% endblock %}

{% block conteudo %}
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <br>

    <h4>Cadastrar Usuário</h4>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'usuario-create' %}">
                {% csrf_token %}

                <div class="row">
                    <button type="submit">Cadastrar</button>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="username">Usuário</label>
                        <input type="text" name="username" id="username" value="{{ request.POST.username }}" placeholder="Digite seu nome de usuário..." required>
                        {% if form.username.errors %}
                            <div class="error">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="col">
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="password" value="{{ request.POST.password }}" placeholder="Digite sua senha..." required>
                    </div>
                    <br>
                    <div class="col">
                        <label for="first_name">Nome</label>
                        <input type="text" name="first_name" id="first_name" value="{{ request.POST.first_name }}" placeholder="Digite seu nome..." required>
                    </div>
                    <br>
                    <div class="col">
                        <label for="cargo">Cargo</label>
                        <select name="cargo" id="cargo" required>
                            <option value="">------</option>
                            <option value="G" {% if request.POST.cargo == 'G' %}selected{% endif %}>Gerente</option>
                            <option value="A" {% if request.POST.cargo == 'A' %}selected{% endif %}>Atendente</option>
                        </select>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
    <br>
    <h4>Lista de usuários</h4>
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.first_name }}</td>
                        <td>
                            {% if usuario.cargo == 'G' %}
                                Gerente
                            {% else %}
                                Atendente
                            {% endif %}
                        <td>
                            <a href="{% url 'usuario-update' usuario.id %}">Editar</a>
                            <a href="{% url 'usuario-update-password' usuario.id %}">Senha</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        
{% endblock %}