{% extends 'home.html' %}

{% load widget_tweaks %}

{% block titulo %}
    <title>Editar Usuário</title>
{% endblock %}

{% block conteudo %}
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <br>

    <h4>Editar Usuário</h4>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'usuario-update' form.instance.id %}">
                {% csrf_token %}

                <div class="row">
                    <button type="submit">Salvar</button>
                    <a href="{% url 'usuario-create' %}">Voltar</a>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="is_active">Ativo</label>
                        {% render_field form.is_active name="is_active" id="is_active" %}
                    </div>
                    <br>
                    <div class="col">
                        <label for="username">Usuário</label>
                        <input type="text" name="username" id="username" value="{{ form.instance.username|default:'' }}" required>
                    </div>
                    <br>
                    <div class="col">
                        <label for="first_name">Nome</label>
                        <input type="text" name="first_name" id="first_name" value="{{ form.instance.first_name|default:'' }}" required>
                    </div>
                    <br>
                    <div class="col">
                        <label for="cargo">Cargo</label>
                        {% render_field form.cargo name="cargo" id="cargo" value="{{ form.instance.cargo }}" %}
                    </div>
                </div>
            </form>
        </div>
    </div>
        
{% endblock %}