{% load static %}

<h1>Tenant: {{request.tenant}}</h1>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
        <title>Início</title>
    {% endblock %}
</head>
<body>
    {% block menu %}
        <div class="row">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'home' %}">Início</a>
                <a href="{% url 'company-view' %}">Empresa</a>
                <a href="{% url 'usuario-create' %}">Usuários</a>
            {% endif %}
        </div>
    {% endblock %}
    
    {% block conteudo %}
    
    {% endblock %}
</body>
</html>
